<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add book</title>
</head>
<body>
​
<h1>List book</h1>
<table>
    <thead>
    <tr>
        <td>id</td>
        <td>title</td>
        <td>author</td>
        <td>Pages</td>
        <td>Year written</td>
        <td>Copies</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.numberOfPages}"></td>
        <td th:text="${book.yearWritten}"></td>
        <td th:text="${book.numberOfAvailableCopies}"></td>
    </tr>
    </tbody>
    ​
</table>
​
</form>
</body>
